<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center py-3" style="background-color: #deb887">
    <p class="m-0"><strong>Name</strong> : ABC</p>
    <p class="m-0"><strong>ID</strong> : ABC</p>
    <p class="m-0"><strong>EMAIL</strong> : ABC@mail.com</p>
  </div>
  <!-- Copyright -->
</footer>
